.title {
    font-family: 'Sniglet', cursive;
    font-size: 50px;


}

.sub-title {
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 50px;
    
}

.logo {
    display: flex;
    flex-direction: column;

}